.basement
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 25px;
  cursor: default;
}
.Stories-holder
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 27px;
}
.story
{
  padding: 15px 18px 20px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
  margin-top: 20px;
}
.story h2 
{

  margin: 0px;
  margin-bottom: 13px;
  margin-left: 15px;
}